@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
    min-height: 100vh;
    background-color: #fcfcfc;
}
a{
    text-decoration: none;
    color: inherit;
}
hr{
    border: none;
    height: 1px;
    background-color: #a9a9a9;
}
.sidebar-option.active{
    background-color: #fff0ed;
    border-color: tomato;
    transition: 0.3s;
}
.add-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}   
@media (max-width: 900px) {
    .sidebar-option p{
        display: none;
    }
}
@media (max-width: 600px) {
    .list-table-formet{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;

    }
    .list-table-formet.title{
        display: none;
    }
}